.mempool-action-id {
    display: inline-block;
    min-width: 100px;
}

.mempool-action-load {
    display: inline-block;
    min-width: 100px;
}

.mempool-action-datetime {
    display: inline-block;
    min-width: 180px;
    color: #ffffffcc
}

.mempool-action-remote-addr {
    display: inline-block;
    min-width: 180px;
}

.mempool-action-remote-addr a {
    color: #ffffffcc;
    text-decoration:none;
}

.mempool-action-type {
    display: inline-block;
    min-width: 180px; 
    color: #ffffffcc
}

.item-loading {
    display: flex;
    // background-color: #3a3b3d; 
    background-color: #323334;
    min-width: calc(100% - 15px) !important;

    animation: hintloading 2s ease-in-out 0s infinite reverse;
    -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

@keyframes hintloading
{
  0% {
    opacity: 0.0;
  }
  50%  {
    opacity: 0.5;
  }
  100% {
    opacity: 0.0;
  }
}

@-webkit-keyframes hintloading
{
  0% {
    opacity: 0.0;
  }
  50%  {
    opacity: 0.5;
  }
  100% {
    opacity: 0.0;
  }
}
