<style>
    .virtualScrollHeader {
        display: flex;
        align-items: center;
        color: #e1e1ff;

        height: 34px;
        font-size: 12px;
        padding-left: 16px;

        border-top: 1px #323334 solid;
        border-bottom: 1px #323334 solid;
    }

    .virtualScrollRow {
        display: flex;
        align-items: center;

        height: 36px;
        font-size: 14px;
        padding-left: 16px;
    }

    .virtualScrollRowEven {
        background-color: #323334;
    }
</style>

<style>
    .virtual-scroll-container {
        position: relative;
        width: 100%;
        /*  height: calc(100vh - 80px);  */
        /* must be multiple of itemSize*/
        height: 500px; 
        overflow: auto;
        z-index: 999;
    }

    .item {
        position: absolute;
        width: 90%;

        display: flex;
        align-items: center;

        height: 50px;
        font-size: 14px;
        padding-left: 16px;

        color: white;
    }
</style>


<div style="color:white;">

    <!--
        <span>
            <li *ngFor="let id of mempoolAction.ids;">
                {{mempoolAction.entities[id].type }} | {{mempoolAction.entities[id].hash }}
            </li>
        </span>
        <br/>
    -->

    <button style="font-size:12px; color: #a4a4a5;" mat-button (click)="scrollToItem()">
        Scroll to last row
    </button>
    <div class="virtual-scroll-container">
        <ng-template vsFor let-event [vsForOf]="virtualScrollItems" let-position="__position__">
            <span class="item" [style.top.px]="position" [class.virtualScrollRowEven]="event.id % 2">
                {{event.id}}
            </span>
        </ng-template>
    </div>

    <!--
    <div style="height: 36px;">
        <button style="font-size:12px; color: #a4a4a5;" mat-button (click)="scrollToBottom()">
            Scroll to last row
        </button>
    </div>

    <div class="virtualScrollHeader">
        <span style="display: inline-block; min-width: 100px;">
            ID
        </span>
        <span style="display: inline-block; min-width: 170px;">
            ADDRESS
        </span>
        <span style="display: inline-block; min-width: 150px;">
            TYPE
        </span>
    </div>
    <cdk-virtual-scroll-viewport ngrx style="height: 440px;width: 100%;" #scrollViewport>
        <div *cdkVirtualFor="let index = index;let even = even;let item of networkDataSource" class="virtualScrollRow"
            [class.virtualScrollRowEven]="even">
            <span *ngIf="item?.id">
                <span style="display: inline-block; min-width: 100px;">
                    {{ index }}
                </span>
                <span style="display: inline-block; min-width: 170px;">
                    {{ item?.remote_addr }}
                </span>
                <span style="display: inline-block; min-width: 150px;">
                    {{ item?.type }}
                </span>
            </span>
            <span *ngIf="!item?.id">
                {{ index }}
            </span>
        </div>
    </cdk-virtual-scroll-viewport>
-->
</div>