<style>
    .virtualScrollHeader {
        display: flex;
        align-items: center;
        color: #ffffff99;

        height: 34px;
        font-size: 12px;
        padding-left: 16px;

        border-top: 1px #323334 solid;
        border-bottom: 1px #323334 solid;
    }

    .virtualScrollRow {
        display: flex;
        align-items: center;

        height: 36px;
        font-size: 14px;
        padding-left: 16px;
    }

    .virtualScrollRowEven {
        background-color: #323334;
    }
</style>

<style>
    .virtual-scroll-container {
        position: relative;
        width: 60%;
        height: calc(95vh - 74px);
        /* must be multiple of itemSize*/
        /* height: 500px; */
        overflow: auto;
        z-index: 999;
    }

    .item {
        position: absolute;
        min-width: calc(100% - 16px);

        display: flex;
        align-items: center;

        height: 36px;
        font-size: 14px;
        padding-left: 16px;

        color: white;
    }

    /* TODO: temporary disabled
    .item:hover {
        background-color: #8C6141;
    }
    */
    /* #204E8A; */

    .virtual-scroll-container-detail {
        align-items: flex-end;
        width: 40%;
        overflow-y: overlay;
        padding: 10px 10px 0px 20px;
        border-left: 1px solid #333334;
    }
</style>


<div style="color:white;">

    <!--
        <span>
            <li *ngFor="let id of mempoolAction.ids;">
                {{mempoolAction.entities[id].type }} | {{mempoolAction.entities[id].hash }}
            </li>
        </span>
        <br/>
    -->

    <button style="font-size:12px; color: #ffffff99;" mat-button (click)="scrollToItem()">
        &nbsp;
    </button>
    <div class="virtualScrollHeader">
        <span style="display: inline-block; min-width: 180px;">
            DATETIME
        </span>
        <span style="display: inline-block; min-width: 180px;">
            ADDRESS
        </span>
        <span style="display: inline-block; min-width: 100px;">
            SOURCE
        </span>
        <span style="display: inline-block; min-width: 180px;">
            TYPE
        </span>
    </div>
    <div style="display:flex;flex-direction: row;">

        <!-- [style.top.px]="position"  [class.virtualScrollRowEven]="event.index % 2" -->

        <div class="virtual-scroll-container">
            <ng-template vsFor let-event [vsForOf]="virtualScrollItems" let-position="position"
                (getItems)="getItems($event)">
                <span class="item" [style.transform]="'translate(0px,' + position + 'px)'"
                    [class.virtualScrollRowEven]="event.index % 2">

                    <span [class.item-loading]="!event?.datetime">&nbsp;</span>

                    <!-- TODO: Temp disable hover -->
                    <!-- (mouseenter)="tableMouseEnter(event)" [class.hover]="event?.id === networkActionItem?.id" -->

                    <!-- For debug only TODO: remove later-->
                    <!-- <span class="mempool-action-id" >
                        {{ event.index }}
                    </span> -->
                    <!-- <span class="mempool-action-load">
                    </span>  -->
                    <!---->
                    <!-- <span style="display: inline-block; min-width: 100px;">
                        {{ event.id }}
                    </span> -->

                    <!-- <span class="mempool-action-load">
                    &nbsp;
                    </span> -->

                    <span class="mempool-action-datetime">
                        {{ event?.datetime }}&nbsp;
                    </span>
                    <span class="mempool-action-remote-addr">
                        <a href="#/network/{{ event?.remote_addr }}">{{ event?.remote_addr }}</a>
                    </span>
                    <!-- <span style="display: inline-block; min-width: 100px; color: #ffffffcc">
                            <span *ngIf="event?.source_type==='local'">
                                <svg-icon icon="local"></svg-icon>
                                <svg-icon *ngIf="!event?.incoming" icon="arrow-right"></svg-icon>
                                <svg-icon *ngIf="event?.incoming" icon="arrow-left"></svg-icon>
                                <svg-icon icon="remote"></svg-icon>
                            </span>
                            <span *ngIf="event?.source_type==='remote'">
                                <svg-icon icon="remote"></svg-icon>
                                <svg-icon *ngIf="event?.incoming" icon="arrow-right"></svg-icon>
                                <svg-icon *ngIf="!event?.incoming" icon="arrow-left"></svg-icon>
                                <svg-icon icon="local"></svg-icon>
                            </span>
                        </span> -->
                    <span class="mempool-action-type">
                        {{ event?.category }}
                        <!-- <span *ngIf="event?.kind"> | {{ event?.kind }}</span> -->
                    </span>
                </span>
            </ng-template>
        </div>
        <!--- TODO: temporary disable -->
        <!-- <div class="virtual-scroll-container-detail">
            <div *ngIf="networkActionItem?.payload">
                <ngx-json-viewer [json]="networkActionItem?.payload" [expanded]="false">
                </ngx-json-viewer>
            </div>
        </div> -->

    </div>

    <!--
    <div style="height: 36px;">
        <button style="font-size:12px; color: #a4a4a5;" mat-button (click)="scrollToBottom()">
            Scroll to last row
        </button>
    </div>

    <div class="virtualScrollHeader">
        <span style="display: inline-block; min-width: 100px;">
            ID
        </span>
        <span style="display: inline-block; min-width: 170px;">
            ADDRESS
        </span>
        <span style="display: inline-block; min-width: 150px;">
            TYPE
        </span>
    </div>
    <cdk-virtual-scroll-viewport ngrx style="height: 440px;width: 100%;" #scrollViewport>
        <div *cdkVirtualFor="let index = index;let even = even;let item of networkDataSource" class="virtualScrollRow"
            [class.virtualScrollRowEven]="even">
            <span *ngIf="item?.id">
                <span style="display: inline-block; min-width: 100px;">
                    {{ index }}
                </span>
                <span style="display: inline-block; min-width: 170px;">
                    {{ item?.remote_addr }}
                </span>
                <span style="display: inline-block; min-width: 150px;">
                    {{ item?.type }}
                </span>
            </span>
            <span *ngIf="!item?.id">
                {{ index }}
            </span>
        </div>
    </cdk-virtual-scroll-viewport>
-->
</div>