<!-- <style>
    .logs-action-table-datetime {
        display: inline-block;
        min-width: 170px;
    }

    .logs-action-table-level {
        display: inline-block;
        min-width: 60px;
    }

    .logs-action-table-message {
        display: inline-block;
        min-width: 725px;
    }
</style> -->

<div class="logs-action-container">
    <div class="virtual-scroll-wrapper">
        <!-- <div class="virtual-scroll-filters">
            
        </div> -->
        
        <div class="virtual-scroll-header">
            <span style="display: inline-block; min-width: 180px;">
                DATETIME
            </span>
            <span style="display: inline-block; min-width: 180px;">
                LEVEL
            </span>
            <span style="display: inline-block; min-width: 100px;">
                MESSAGE
            </span>
        </div>

        <div style="display:flex;flex-direction: row;">
            <div class="virtual-scroll-container">
                <ng-template vsFor let-event [vsForOf]="virtualScrollItems" let-position="position"
                    (getItems)="getItems($event)">
                    <span class="item" [style.top.px]="position" [class.virtualScrollRowEven]="event.index % 2"
                        (click)="clickedItem(event)" (mouseenter)="tableMouseEnter(event)" (mouseleave)="tableMouseLeave()" 
                        [class.selected]="event?.id === logsClickedItem?.id" [class.hovered]="event?.id && event?.id === logsActionItem?.id && logsActionItem?.id !== logsClickedItem?.id">
                        
                        <span style="display: inline-block; min-width: 180px;">{{event?.datetime}}</span>
                        <span style="display: inline-block; min-width: 180px;">{{event?.level}}</span>
                        <span style="display: inline-block; min-width: 180px; white-space: nowrap; text-overflow: ellipsis;font-size:14px !important;">{{event?.preview}}</span>
                    </span>
                </ng-template>
            </div>

            <div class="virtual-scroll-container-detail">
                <div *ngIf="logsActionItem?.message">
                    <ngx-json-viewer [json]="{message:logsActionItem?.message}" [expanded]="true">
                    </ngx-json-viewer>
                </div>
            </div>
        </div>

        <div class="virtual-scroll-footer">
            <div class="virtual-scroll-footer-container">
                <span>
                    <!-- <button mat-icon-button matTooltip="Start" (click)="scrollStart()" *ngIf="!logsAction?.stream">
                        <mat-icon>play_arrow_outline</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="logsAction?.stream">
                        <mat-icon>stop_outline</mat-icon>
                    </button>
                    <button mat-icon-button style="transform: rotate(90deg)" matTooltip="Last page" (click)="scrollToEnd()">
                        <mat-icon>last_page</mat-icon>
                    </button> -->
                </span>
            </div>
        </div>
    </div>
</div>